{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-959Y0C1E1Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-959Y0C1E1Q');
    </script>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Elevate your vision with innovative website design and custom software solutions." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Innovative website design and custom software solutions." />
    <meta property="og:site_name" content="Outward Industries" />
    <meta property="og:description" content="Elevate your vision with innovative website design and custom software solutions." />
    <meta name="keywords" content="business, problem solving, innovation, design, developer, solutions, freelance, quality, outward industries, Outbound, Outward Industries, outwardindustries.com, tegan hakim, tyler lumpkin, custom software solutions, web development, websites, software" />
    <meta name="author" content="Outward Industries" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Animate on Scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Site -->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Outward Industries</title>
</head>
<body id="page-top" class="learn-body">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/#page-top"><img class="logo-img" src="{% static 'images/Outward-Industries-Logo.svg' %}" alt="Outward Industries Logo">Outward Industries</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/#page-top">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#projects">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#faq">Info</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#signup">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5 learn">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <article>
                    <button class="back" onclick="window.location.href='/#learn'"><i class="fa-solid fa-arrow-left"></i>  Back</button>
                    <header class="mb-4">
                        <h1 class="fw-bolder mb-1">Digital Storytelling: The Art and Science of Web Design</h1>
                        <div class="text-muted fst-italic mb-2">Posted on April 20, 2023 by Tyler Lumpkin</div>
                        <a class="badge text-decoration-none link-light" href="#!">Web Design</a>
                    </header>
                    <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'images/sketch-1.jpg' %}" alt="..." /></figure>
                    <section class="mb-5">
                        <p class="fs-5 mb-4">Web design is the process of creating a website that is both functional and visually appealing. It involves a variety of skills and disciplines, including graphic design, user interface design, and coding. In this article, we will provide an overview of web design and share some simple things you can do to make your website more attractive.</p>
                        <p class="fs-5 mb-4">When designing a website, there are several key elements that you need to consider.</p>
                        <h2 class="fw-bolder mb-4 mt-5">Key Elements:</h2>
                        <ol style="padding: 0 0 0 22px;">
                            <li><p class="fs-5 mb-3"><u>Layout:</u> The layout of your website should be easy to navigate, with clear calls to action and relevant content that is easy to read.</p></li>
                            <li><p class="fs-5 mb-3"><u>Typography:</u> Choose fonts that are easy to read and consistent throughout your website.</p></li>
                            <li><p class="fs-5 mb-3"><u>Colors:</u> Use a color scheme that is consistent with your brand identity and is easy on the eyes.</p></li>
                            <li><p class="fs-5 mb-3"><u>Images and graphics:</u> Use high-quality images and graphics that are relevant to your website content and optimized for fast loading times.</p></li>
                            <li><p class="fs-5 mb-4"><u>Responsive design:</u> Ensure your website is optimized for different screen sizes, from desktops to smartphones.</p></li>
                        </ol>
                        <figure><img class="img-fluid rounded" src="{% static 'images/sketch-2.jpg' %}" alt="..." /></figure>
                        <figcaption class="caption">Collaborating on web design layouts can lead to creative and innovative solutions for businesses and users alike.</figcaption>
                        <h2 class="fw-bolder mb-4 mt-4">Simple Steps to Make Your Website More Attractive:</h2>
                        <ol style="padding: 0 0 0 22px;">
                            <li><p class="fs-5 mb-3"><u>Use white space:</u> White space refers to the empty space around the content on your website. Using white space can make your website more visually appealing and easier to navigate.</p></li>
                            <li><p class="fs-5 mb-3"><u>Incorporate a hero image:</u> A hero image is a large, high-quality image that is prominently featured on your website. It can help to draw visitors' attention and make your website more memorable.</p></li>
                            <li><p class="fs-5 mb-3"><u>Add video content:</u> Adding video content to your website can help to make it more engaging and visually appealing.</p></li>
                            <li><p class="fs-5 mb-3"><u>Use icons:</u> Icons can help to make your website more visually appealing and easier to navigate. Use them to represent different sections of your website or to highlight important information.</p></li>
                            <li><p class="fs-5 mb-4"><u>Use a consistent brand identity:</u> Ensure your website reflects your business's brand identity, including your logo, colors, and fonts.</p></li>
                        </ol>
                        <h2 class="fw-bolder mb-4 mt-5">Key Takeaways</h2>
                        <p class="fs-5 mb-4">Web design is an essential aspect of creating a successful online presence for your business. By following these simple tips and incorporating attractive design elements, you can create a website that is both functional and visually appealing, helping you attract and retain customers and boost your online presence.</p>
                    </section>
                    <div class="card mb-4">
                        <div class="card-header">Languages and Frameworks</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" rel="nofollow" target="_blank">HTML</a></li>
                                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" rel="nofollow" target="_blank">CSS</a></li>
                                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" rel="nofollow" target="_blank">Javascript</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="https://getbootstrap.com/" rel="nofollow" target="_blank">Bootstrap</a></li>
                                        <li><a href="https://react.dev/" rel="nofollow" target="_blank">React</a></li>
                                        <li><a href="https://www.djangoproject.com/" rel="nofollow" target="_blank">Django</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/#page-top" class="nav-link px-3 text-muted">Home</a></li>
            <li class="nav-item"><a href="/#about" class="nav-link px-3 text-muted">About</a></li>
            <li class="nav-item"><a href="/#projects" class="nav-link px-3 text-muted">Projects</a></li>
            <li class="nav-item"><a href="/#faq" class="nav-link px-3 text-muted">Info</a></li>
            <li class="nav-item"><a href="/#signup" class="nav-link px-3 text-muted">Contact</a></li>
            <li class="nav-item"><a href="/terms-of-use/" class="nav-link px-3 text-muted">Terms of Use</a></li>
            <li class="nav-item"><a href="/privacy-policy/" class="nav-link px-3 text-muted">Privacy Policy</a></li>
            </ul>
        <div class="container px-4 px-lg-5">Copyright &copy; <a href="#page-top" class="outward-text">Outward Industries</a> <span id="copy-date">2023</span></div>
        <a href="#page-top"><img src="{% static 'images/Outward-Industries-Logo.svg' %}"" alt="Outward Industries Logo"></a>
    </footer>
    <!-- Loader -->
    <div class="loader">
      <span class="loader-span">
          <img src="{% static 'images/Outward-Industries-Logo.svg' %}" alt="Outward Industries">
      </span>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <!-- Animation on Scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>