{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robot" content="index, follow" />
    <meta name="description" content="Web Development and Prototyping Business" />
    <meta name="keywords" content="buisness, problem solving, innovation, design, developer, solutions, freelance, solid, quality" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Site -->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Outward Industries</title>
</head>
<body>
    <!-- Navigation -->
    <nav class="nav">
        <div class="container-fluid">
            <div class="logo">
                <a class="logo-navbar" href="#"><img src="{% static 'images/Outward_Industries_Logo.png' %}" alt="Outward Industries Logo">Outward Industries</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    <!-- Home Page -->
    <section class="home">
        <svg width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 100% 100%">
            <g mask="url(&quot;#SvgjsMask6073&quot;)" fill="none">
                <rect width="100%" height="100%" x="0" y="0" fill="url(#SvgjsLinearGradient6074)"></rect>
                <g mask="url(&quot;#SvgjsMask6075&quot;)">
                    <path d="M1475 275L1425 275L1375 275L1325 275" stroke="rgba(245, 238, 224, 1)" stroke-width="8.33"></path>
                    <path d="M1312.5 275 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z" fill="rgba(245, 238, 224, 1)"></path>
                    <path d="M1475 325L1425 325L1375 325" stroke="rgba(198, 189, 172, 1)" stroke-width="8.33"></path>
                    <path d="M1362.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z" fill="rgba(198, 189, 172, 1)"></path>
                    <path d="M1275 225L1225 275L1175 275L1125 275L1075 275M1475 225L1425 225L1375 225L1325 225L1275 225L1225 225L1175 225" stroke="rgba(245, 238, 224, 1)" stroke-width="8.33"></path>
                    <path d="M1162.5 225 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1062.5 275 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z" fill="rgba(245, 238, 224, 1)"></path>
                    <path d="M1075 425L1025 475L975 475L925 475L875 475M1125 425L1075 375L1025 375L975 375L925 375L875 375L825 375L775 375M1325 425L1275 475L1225 475L1175 475M1375 375L1325 375L1275 375L1225 375M1175 425L1125 375M825 425L775 475M1475 375L1425 375L1375 375L1325 425L1275 425L1225 425L1175 425L1125 425L1075 425L1025 425L975 425L925 425L875 425L825 425L775 425L725 475L675 475L625 475L575 475L525 475L475 475L425 475L375 475L325 475" stroke="rgba(245, 238, 224, 1)" stroke-width="8.33"></path>
                    <path d="M312.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM862.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM762.5 375 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1162.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1212.5 375 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1112.5 375 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM762.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z" fill="rgba(245, 238, 224, 1)"></path>
                    <path d="M1325 175L1275 175M1125 125L1075 175L1025 175L975 175M1225 125L1175 175M1475 175L1425 175L1375 175L1325 175L1275 125L1225 125L1175 125L1125 125L1075 125L1025 125L975 125" stroke="rgba(198, 189, 172, 1)" stroke-width="8.33"></path>
                    <path d="M962.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1262.5 175 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM962.5 175 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1162.5 175 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z" fill="rgba(198, 189, 172, 1)"></path>
                </g>
            </g>
            <defs>
                <mask id="SvgjsMask6073">
                    <rect width="100%" height="100%" fill="#ffffff"></rect>
                </mask>
                <linearGradient x1="84.72%" y1="139.29%" x2="15.28%" y2="-39.29%" gradientUnits="userSpaceOnUse" id="SvgjsLinearGradient6074">
                    <stop stop-color="rgba(87, 87, 87, 1)" offset="0"></stop>
                    <stop stop-color="rgba(0, 0, 0, 1)" offset="1"></stop>
                </linearGradient>
            </defs>
        </svg>
        <svg width="1380" height="550" preserveAspectRatio="true" viewBox="0 0 1380 550">
            <defs>
                <mask id="SvgjsMask6075">
                    <rect width="1380" height="550" fill="white"></rect>
                    <path d="M1318.75 275 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z" fill="black"></path>
                    <path d="M1368.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z" fill="black"></path>
                    <path d="M1168.75 225 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1068.75 275 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z" fill="black"></path>
                    <path d="M318.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM868.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM768.75 375 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1168.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1218.75 375 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1118.75 375 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM768.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z" fill="black"></path>
                    <path d="M968.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1268.75 175 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM968.75 175 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1168.75 175 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z" fill="black"></path>
                </mask>
            </defs>
        </svg>
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
    </section>
    
    <div class="container-fluid" style="height: 1000px">
        <!-- just to make scrolling effect possible -->
        <h2 class="myH2">What is this ?</h2>
        <p class="myP">This is a responsive fixed navbar animated on scroll</p>
        <p class="myP">I took inspiration from  ABDO STEIF (<a href="https://codepen.io/abdosteif/pen/bRoyMb?editors=1100">https://codepen.io/abdosteif/pen/bRoyMb?editors=1100</a>)
        and Dicson <a href="https://codepen.io/dicson/pen/waKPgQ">(https://codepen.io/dicson/pen/waKPgQ)</a></p>
        <p class="myP">I HOPE YOU FIND THIS USEFULL</p>
        <p class="myP">Albi</p>
        <p class="myP">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
        </p>
    </div>


    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>


    <!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>
</body>
</html>